/*--------------------*/
/*		 IMPORT	      */
/*--------------------*/

/* Fonts (fourni par Google Fonts) */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300italic,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

/*--------------------*/
/*   GENERAL STYLES	  */
/*--------------------*/

body {
    font-family: 'Lato', sans-serif;
}
/* Quand le CSS ne marchera pas, ces éléments seront affichés */
.hidden-item {
    display: none;
}
/* mise en forme générale du contenu */
.wrapper {
    display: block;
    width: 100%;
    max-width: 1120px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    content: "";
    clear: both;
}
.row {
    display: inline-block;
    width: 100%;
    max-width: 1120px;
    height: 100%;
}
/*Elements invisibles sur tablette (pad)*/
@media(max-width:770px){
    .pa-screen-hidden {display: none;}
}
/*Elements invisible sur smartphone (smartphone)*/
@media(max-width:361px){
    .sm-screen-hidden {display: none;}
}

/*--------------------*/
/*		 NAVBAR	      */
/*--------------------*/

.navbar {
    display: inline-block;
    height: 50px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.3);
    background: linear-gradient(rgba(40,40,40,0.9), rgba(40,40,40,0.9));
    padding: 10px 25px 10px 25px;
    transition: background 0.15s, height 0.25s;
    position: fixed;
    z-index: 100;
}
.navbar .navbar-logo {
    display: inline-block;
    float: left;
    color: #FFFFFF;
    font-size: 1.7em;
    font-family: 'Dancing Script', cursive;
}
.navbar ul {    
    display: inline-block;
    float: right;
}
.navbar ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.0em;
    margin-top: 5px;
    transition: margin-top 0.25s, font-size 0.25s;
}
.navbar ul li>a{
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: 600;
    text-decoration: none;
    margin-left: 15px;
    transition: color 0.25s;
}
.navbar ul li>a:hover {
    color: #C7C7C7;
    transition: color 0.25s;
}
.navbar ul li:first-child a{ /*exception first-child*/
    margin-left: 0;
}
.navbar ul li .actual-section{ /*section actuelle*/
    color: #FFB515 !important;
    border-bottom: 2px solid #FFB115;
    padding-bottom: 3px;
}
.nav-top{
    height: 75px;
    background-color: #282828;
    transition: height 0.25s;
    box-shadow: none;
}
.nav-top ul li{
    font-size: 1.05em;
    margin-top: 15px;
    transition: margin-top 0.25s, font-size 0.25s;
}

/* ------- Navbar Smartphone ------ */

.s-navbar{
    display: none;
}
@media(max-width: 361px){
    .navbar{
        display: none;
    }
    .s-navbar{
        display: inline-block;
        height: auto;
        width: 100%;
        background-color: #282828;
        padding: 10px 0 0px 0;
    }
    .s-navbar .row{
        display: inline-block;
    }
    .s-navbar .navbar-logo {
        display: inline-block;
        float: left;
        color: #FFFFFF;
        font-size: 2.0em;
        font-family: 'Dancing Script', cursive;
    }
    .s-menu {
        display: none; 
    }
    .s-menu-open {
        display: inline-block;
        width: 100%;
        height: 0;
        transition: height 1.0s;
        
    }
    .s-menu-open ul li a{
        font-size: 0em;
        transition: font-size 0.25s;
    }
    .s-menu-opacity {
        height: auto;
        transition: height 1.0s;
        
    }
    .s-menu-opacity ul li a{
        font-size: 1.2em !important;
        transition: font-size 0.25s;
        text-transform: uppercase;
    }
    .s-menu li{
        text-align: center;
        background-color: #313131;
        border-bottom: solid 2px #292929;
        padding: 10px 0 10px 0;
        list-style-type: none;
    }
    .s-menu li:first-child{
        border-top: solid 2px #282828;
    }
    .s-menu li a{
        text-decoration: none;
        color: #FFFFFF;
        font-weight: 500;
    }
}
.s-unfold{
    display: block;
    height: 51px;
    width: 51px;
    padding-top: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    margin-bottom: 10px;
    border: solid 2px #F0F0F0;
    border-radius: 5px;
    background-color: #FFB115;
    cursor: pointer;
}
.s-unfold .unfold-line{
    display: block;
    height: 7px;
    width: 75%;
    background-color: #F0F0F0;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}
.s-unfold .unfold-line:first-child{
}
.s-unfold .unfold-line:nth-child(2){
    margin-top: 6px;
}
.s-unfold .unfold-line:nth-child(3){
    margin-top: 6px;
}
/* ------- Button back to the top ------ */

.backtotop {
    display: none;
}
@media(max-width: 361px){
    .backtotop {
        display: block;
        position: absolute;
        height: 51px;
        width: 51px;
        padding-top: 7px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 11px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: rgba(255, 177, 21, 0.7);
        cursor: pointer;
        position: fixed;
        right: 15px;
        bottom: 5px;
        z-index: 100;
        opacity: 1;
        transition: opacity 0.25s;
    }
    .backtotop a{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: -7px;
        color: #F0F0F0;
        font-size: 3.4em;
        font-weight: 900;
        text-decoration: none;
    }
    .backtotop-already-top{
        opacity: 0;
        transition: opacity 0.25s;
    }
}

/*--------------------*/
/*		 HEADER	      */
/*--------------------*/

header {
    display: inline-block;
    width: 100%;
    background-color: #2D2D2E;
    box-shadow: 0px 7px 14px #999999;
    padding-top: 77px;
}
header .description {
    display: inline-block;
    text-align: right;
    padding-right: 20px;
    margin-top: 150px;
}
header .description h1 {
    color: #FFFFFF;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3.5em;
}
header .description .transition-ligne {
    display: inline-block;
    width: 100%;
}
header .description .transition-ligne hr {
    margin: 1px 0;
    width: 75%;
    float: right;
    border-color: white;
}
header .description .localisation img {
    margin-right: 4px;
    display: inline-block;
}
header .description .localisation h2 {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
}
header .description .localisation .region {
    display: inline-block;
    font-weight: 500;
}
header .situation {
    padding: 16px 0;
}
header .situation span {
    color: white;
    background-color: #FFB515;
    padding: 5px 25px;
}
header .situation-details h2 {
    font-size: 1.6em; 
    color: #FFFFFF;
    font-weight: 300;
}
header .situation-details span {
    font-size: 1.3em; 
    color: #CBCBCB;
    font-weight: 300;
}
header .photo {
    display: inline-block;
}
header .photo img {
    display: inline-block;
    margin-bottom: -3px;
}

/* ------- Header Smartphone ------ */

@media(max-width: 361px){
    .header {
        padding-top: 35px;
    }
    .header .photo img{
        display: block;
        width: 91%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    .header .description{
        text-align: center;
        margin-top: 29px;
        margin-bottom: 37px;
        padding: 7px;
    }
    .header .description .transition-ligne hr{
        float: none;
        margin-right: auto;
        margin-left: auto
    }
    .header .description h1{
        font-size: 3.3em;
        margin-bottom: 10px;
        
    }
    .header .description .institution{
        font-size: 1.25em;
    }
    .header .description .localisation{
        font-size: 0.75em;
    }
}

/*--------------------*/
/*		  MAIN	      */
/*--------------------*/

/*--------------------*/
/*	 Format section	  */
/*--------------------*/

.section-title h2{
    color:  #2D2D2E;
    font-size: 2.0em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.section-title h3{
    color:  #626266;
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
}
.section-title hr{
    width: 100%;
    max-width: 460px;
    border: solid 1px #FFB515;
}
.section-content .quote {
    color: #FFB515 !important;
    font-style: italic !important;
}
.section-content p {
    color: #656565;
}

/* ------- Section Smartphone ------ */

@media(max-width:361px){
    .section-title{
        display: block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*--------------------*/
/*	    Identité	  */
/*--------------------*/

.identite {
    background-color: #FEFEFE;
    padding-top: 100px;
    padding-bottom: 60px;
}
.identite .section-content {
    margin-top: 25px;
}
.identite .photo img {
    float: right;
}
.identite .details{
    padding-left: 35px;
}
.identite .details h3{
    color: #2D2D2E;
    font-size: 1.4em;
    font-weight: 700;
    margin-bottom: 5px;
}
.identite .details p {
    max-width: 540px;
}
.identite .details ul {
    margin: 25px 0px 25px 30px;
}
.identite .details ul li {
    font-size: 1.2em;
    margin-top: 5px;
}
.identite .quote{
    margin-top: 35px;
    max-width: 540px;
}

/* ------- Identité Smartphone ------ */

@media(max-width:361px){
    .identite{
        padding-top: 77px;
    }
    .identite .details {
        padding: 0 15px 0 15px;
        text-align: justify;
    }
}

/*--------------------*/
/*	  Compétences	  */
/*--------------------*/

.competences {
    background-color: #F5F5F5;
    border-top: solid 1px #DADADA;
    padding-top: 70px;
    padding-bottom: 100px;
}
.competences .section-content {
    margin-top: 25px;
}
.competences .comp-container{
    display: inline-block;
    max-width: 650px;
    background-color: #FEFEFE;
    border: solid 2px #E0E0E0;
    border-radius: 5px;
    padding: 14px;
}
.competences .comp-container{
    display: inline-block;
    max-width: 700px;
    background-color: #FEFEFE;
    border: solid 2px #E0E0E0;
    border-radius: 15px;
    padding: 20px 15px 20px 5px;
}
.competences .comp-container .logiciels{
    display: inline-block;
    float:left;
    width: 15%;
}
.competences .comp-container .details{
    display: inline-block;
    float: left;
    width: 85%;
}
.competences .comp-container .logiciels img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.competences .comp-progressbar .progressbar{
    float: right;
}
.competences .comp-integration .quote{
    margin-top: 25px;
    max-width: 570px;
}
.competences .comp-integration .comp-container h4{
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: solid 2px #FFB515;
    width: 312px;
    color: #2D2D2E;
}
.competences .comp-developpement .quote{
    margin-top: 25px;
    max-width: 570px;
    color: #4BB4EA !important;
}
.competences .comp-developpement .comp-container h4{
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: solid 2px #4BB4EA;
    width: 484px;
    color: #2D2D2E;
}
.competences .comp-graphisme .quote{
    margin-top: 25px;
    max-width: 570px;
    color: #7CC177 !important;
}
.competences .comp-graphisme .comp-container h4{
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: solid 2px #7CC177;
    width: 502px;
    color: #2D2D2E;
}
.s-details-title{
    display: none;
}

/* ------- Compétences Smartphone ------ */

@media(max-width:361px){
    .competences .comp-integration .comp-container .s-details-title{
            display: block;
            font-size: 1.1em;
            margin-bottom: 15px;
            width: 264px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    .competences .comp-graphisme .comp-container .s-details-title{
            display: block;
            font-size: 1.1em;
            margin-bottom: 15px;
            width: 224px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        } 
    .competences .comp-developpement .comp-container .s-details-title{
            display: block;
            font-size: 1.1em;
            margin-bottom: 15px;
            width: 259px;
            margin-right: auto;
            margin-left: auto;
            text-align: center;
        }
    .competences .section-content{
        margin-top: 0;
    }
    .competences .comp-container{
        padding-left: 0px;
        padding-right: 15px;
    }   
    .competences .comp-container .details{
        padding-left: 10px;
        text-align: justify;
        font-size: 0.95em;
        width: 85%;
    }    
}

/*--------------------*/
/*	  Expériences	  */
/*--------------------*/

.experiences {
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #2E2E2D;
    border-top: solid 1px #DADADA;
}
.experiences .section-title h2{
    color:  #FFFFFF;
}
.experiences .section-title h3{
    color:  #A0A0A0;
}
.experiences .scolarite{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 15px;
}
.experiences .scolarite .group-box{
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.experiences .scolarite .scolarite-box{
    display: inline-block;
    float: left;
    position: relative;
    height: 180px;
    width: 180px;
    background-color: #FEFEFE;
    border: solid 7px #E0E0E0;
    border-radius: 50%;
    padding: 40px 0 0 0;
    text-align: center;
    margin-left: calc((100% - 540px) / 2);
    z-index: 2;
}
.experiences .scolarite .line {
    display: inline-block;
    position: absolute;
    top: 89px;
    width: 100%;
    border-top: solid 7px #E0E0E0;
    z-index: 1;
}
.experiences .scolarite .scolarite-box:first-child{
    margin-left: 0;
}
.experiences .scolarite .scolarite-box h3 {
    font-size: 1.2em;
    font-weight: 900;
    color: #2D2D2E;
}
.experiences .scolarite .scolarite-box h4 {
    font-size: 1.2em;
    font-weight: 500;
    color: #2D2D2E;
}
.experiences .scolarite .scolarite-box .institut {
    margin-top: 10px;
    font-size: 0.9em;
    font-weight: 600;
    color: #2D2D2E;
}
.experiences .scolarite .scolarite-box .ville {
    font-size: 0.9em;
    font-weight: 500;
    color: #A0A0A0;
}
.experiences .professions {
    margin-top: 50px;
    display: inline-block;
}
.experiences .professions .special-row {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.experiences .professions ul li {
    color: #FFFFFF;
    font-size: 1.04em;
    margin-bottom: 15px;
}
.experiences .professions ul li:last-child {
    margin-bottom: 0;
}
.experiences .professions ul li .date {
    color: #7CC177;
    font-size: 1.04em;
}
.experiences .professions ul li:nth-child(2) .date {
    color: #CD5A5F;
}
.experiences .professions ul li:nth-child(3) .date {
    color: #FFB515;
}
.experiences .professions ul li .designation {
    font-weight: 600;
}
.experiences .professions ul li .lieu {
    font-weight: 300;
}
.experiences .professions ul li .enrichissement {
    font-weight: 300;
    font-size: 0.95em;
    color: #A0A0A0;
}

/* ------- Expériences Smartphone ------ */

@media(max-width:361px){
    .experiences .section-content {
        margin-top: 15px;
    }
    .experiences .scolarite {
        margin-bottom: 0;
    }
    .experiences .scolarite .special-row{
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .experiences .scolarite .scolarite-box{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        float: none;
    }
    .experiences .scolarite .scolarite-box:first-child{
        margin-left: auto;
        margin-right: auto;
    }
    .experiences .scolarite .line{
        width: 7px;
        margin-left: calc(50% - 3.5px);
        float: none;
        height: 400px;
        background-color: #F0F0F0;
    }
    .experiences .professions {
        padding: 10px;
        margin-top: 15px;
    }
    .experiences .professions ul li{
        padding: 10px;
        font-size: 1.0em;  
    }
}

/*--------------------*/
/*	  Réalisations	  */
/*--------------------*/

.realisations {
    padding-top: 70px;
    padding-bottom: 100px;
    padding-bottom: 15px;
    background-color: #FEFEFE;
}
.realisations .section-title {
    margin-bottom: 5px;
}
.items-portfolio-row {
    margin-top: 15px;
}
.portfolio .categories-portfolio-row {
    margin-bottom: 20px;
}
.portfolio .category-list {
    list-style-type: none;
    text-align: center;
}
.portfolio .category-list li {
    display: inline-block;
    margin-left: 50px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    font-family: 'Lato', cursive;
    color: #738AA1;
    font-size: 1.1em;
    font-weight: 400;
    transition: color 0.25s;
}
.portfolio .category-list li:hover {
    color: #4BB4EA;
}
.portfolio .category-list .cat-selected:hover {
    color: #F5AD12 !important;
}
.portfolio .category-list li:first-child {
    margin-left: 0;
}
.portfolio .category-list .cat-selected {
    color: #F5AD12;
    padding-bottom: 1px;
    border-bottom: 2px solid #F5AD12;
}
.portfolio .portfolio-row{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1003px;
}
@media(max-width: 1100px){
 .portfolio .portfolio-row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 752px;
    }
}
.portfolio .item-align{
    display: inline-block;
    margin: -2px -2px -2px -2px;
    padding: 0;
}
.portfolio .port-item {
    height: 250px;
    width: 250px;
    background-size: 100%;
    background-color: #F0F0F0;
    border-radius: 5px;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    opacity: 1;
    visibility: visible;
    transition: height 0.25s, width 0.25s, opacity 0.25s, visibility 0.25s;
}
#portitem1 {
    /*background-image: url("img/item1.png");*/
    background-color: gold;
}
#portitem2 {
    background-color: gold;
}
#portitem3 {
    background-color:darkslateblue;
}
#portitem4 {
    background-color:darkseagreen; 
}
#portitem5 {
    background-color:gold; 
}
#portitem6 {
    background-color:darkseagreen; 
}
#portitem7 {
    background-color:darkseagreen; 
}
#portitem8 {
    background-color:darkslateblue; 
}
#portitem9 {
}
.portfolio .description {
    position: absolute;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    text-align: center;
    display: inline-block;
    
    margin-top: 250px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: margin-top 0.25s, height 0.25s, opacity 0.25s, visibility 0.25s;
    transition-delay: 0.25s;
}
.portfolio .description h3 {
    margin: 70px 5px 5px 5px;
    padding-bottom: 5px;
    font-family: 'Lato', cursive;
    color: #FFFFFF;
    border-bottom: solid 1px #E0E0E0;
    visibility: hidden;
    opacity: 0;
    transition: height 0.25s, opacity 0.25s, visibility 0.25s;   
}
.portfolio .description span {
    padding: 5px;
    font-family: 'Lato', cursive;
    visibility: hidden;
    color: #FFFFFF;
    opacity: 0;
    transition: height 0.25s, opacity 0.25s, visibility 0.25s;   
}
.portfolio .item-hover .description {
    margin-top: 0px;
    height: 100%;
    visibility: visible;
    opacity: 1;
    transition: margin-top 0.25s, height 0.25s, opacity 0.25s, visibility 0.25s;
}
.portfolio .item-hover .description h3, .item-hover .description span {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s, visibility 0.25s;   
    transition-delay: 0.25s;
}
.portfolio .portitem-transition {
    height: 0 !important;
    width: 0 !important;
    visibility: hidden;
    opacity: 0;
    transition: height 0.25s, width 0.25s, opacity 0.25s, visibility 0.25s;
    transition-delay: 0.0s;
}
.portfolio .portitem-hiden{
    display: none;
}

/* ------- Réalisations Smartphone ------ */

@media(max-width:361px){
    .portfolio .category-list {
        width: 100%;
        margin-bottom: 5px;
    }
    .portfolio .category-list li {
        display: block;
        width: auto;
        margin: 0;
    }
    .portfolio .category-list .cat-selected {
        border-bottom: none;
        text-decoration: underline;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .portfolio .items-portfolio-row{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    .portfolio .items-portfolio-row .port-item{
        margin-bottom: 0px;
    }
}

/*--------------------*/
/*	    Contact 	  */
/*--------------------*/

.contact {
    padding-top: 70px;
    padding-bottom: 100px;
    margin-top: 50px;
    background-color: #F5F5F5;
    border-top: solid 1px #DADADA;
}
.contact .section-content {
    padding-top: 50px;
}
.contact .form-identification {
    padding: 0px 20px;
}
.contact .form-message{
    padding: 0px 20px;  
}
.contact .form-identification input {
    width: 100%;
    padding: 15px;
    border: solid 2px #E0E0E0;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.0em;
    margin-top: 30px;
}
.contact .form-identification input:first-child {
    margin-top: 0;
}
.contact .form-message textarea {
    width: 100%;
    height: 220px;
    padding: 15px;
    border: solid 2px #E0E0E0;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.0em;
}
.contact .form-send {
    margin-top: 35px;
}
.contact .form-send input {
    display: block;
    background-color: #FFB515;;
    padding: 10px 40px;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1.0em;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background-color 0.25s;
}
.contact .form-send input:hover{
   background-color: #FFC64B;
    transition: background-color 0.25s;
}

/* ------- Contact Smartphone ------ */

@media(max-width:361px){
    .contact .form-identification input{
        margin-top: 5px;
    }
    .contact .form-identification input:first-child{
        margin-top: 0px;
    }
    .contact .form-message{
        margin-top: 15px;   
    }
    .contact .form-send{
        margin-top: 20px;   
    }
}

/*--------------------*/
/*		 FOOTER	      */
/*--------------------*/

footer {
    background-color: #282828;
    height: 150px;
}
footer .copyright{
    display: inline-block;
    width: 100%;
    margin-top: 115px;
    text-align: center;
    color: #E0E0E0;
    font-size: 0.95em;
}
footer .copyright p{
    display: inline-block;
}
footer .copyright a{
    display: inline-block;
    color: #E0E0E0;
    transition: color 0.25s;
}
footer .copyright a:hover{
    color: #BDBDBD;
    transition: color 0.25s;
}

/* ------- Footer Smartphone ------ */

@media(max-width:361px){
    
   footer .copyright{
        margin-top: 90px; 
    }
    footer .copyright p {
        display: block;
    }
    footer .copyright span {
        display: none;
    }
}
