/*--------------------*/
/*		 IMPORT	      */
/*--------------------*/

/* Fonts (fourni par Google Fonts) */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300italic,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);

/*--------------------*/
/*   GENERAL STYLES	  */
/*--------------------*/

body {
    font-family: 'Lato', sans-serif;
}
/* Quand le CSS ne marchera pas, ces éléments seront affichés */
.hidden-item {
    display: none;
}
/* mise en forme générale du contenu */
.wrapper {
    display: block;
    width: 100%;
    max-width: 1120px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    content: "";
    clear: both;
}
.row {
    display: inline-block;
    width: 100%;
    max-width: 1120px;
    height: 100%;
}
/*Elements invisibles sur tablette (pad)*/
@media(max-width:770px){
    .pa-screen-hidden {display: none;}
}
/*Elements invisible sur smartphone (smartphone)*/
@media(max-width:350px){
    .sm-screen-hidden {display: none;}
}

/*--------------------*/
/*		 NAVBAR	      */
/*--------------------*/

.navbar {
    display: inline-block;
    padding: 10px 25px 10px 25px;
    width: 100%;
    background-color: #282828;
}
.navbar .navbar-logo {
    float: left;
    display: inline-block;
    color: #FFFFFF;
    font-size: 3.0em;
}
.navbar ul {    
    float: right;
    display: inline-block;
    margin-top: 20px;
}
.navbar ul li {
    display: inline-block;
    text-transform: uppercase;
}
.navbar ul li>a{
    color: #FFFFFF;
    font-size: 0.9em;
    font-weight: 600;
    text-decoration: none;
    margin-left: 15px;
}
.navbar ul li:first-child a{ /*exception first-child*/
    margin-left: 0;
}
.navbar ul li>.actual-section{ /*section actuelle*/
    color: #FFB515;
    border-bottom: 2px solid #FFB115;
    padding-bottom: 3px;
}

/*--------------------*/
/*		 HEADER	      */
/*--------------------*/

header {
    display: inline-block;
    background-color: #2D2D2E;
    width: 100%;
    box-shadow: 0px 7px 14px #999999;
}
header .description {
    padding-right: 20px;
    margin-top: 150px;
    display: inline-block;
    text-align: right;
}
header .description h1 {
    color: #FFFFFF;
font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 3.5em;
}
header .description .transition-ligne {
    display: inline-block;
    width: 100%;
}
header .description .transition-ligne hr {
    margin: 1px 0;
    width: 75%;
    float: right;
    border-color: white;
}
header .description .localisation img {
    margin-right: 4px;
    display: inline-block;
}
header .description .localisation h2 {
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 10px;
}
header .description .localisation .region {
    display: inline-block;
    font-weight: 500;
}
header .situation {
    padding: 16px 0;
}
header .situation span {
    color: white;
    background-color: #FFB515;
    padding: 5px 25px;
}
header .situation-details h2 {
    font-size: 1.6em; 
    color: #FFFFFF;
    font-weight: 300;
}
header .situation-details span {
    font-size: 1.3em; 
    color: #CBCBCB;
    font-weight: 300;
}
header .photo {
    display: inline-block;
}
header .photo img {
    display: inline-block;
    margin-bottom: -3px;
}

/*--------------------*/
/*		  MAIN	      */
/*--------------------*/

/*--------------------*/
/*	 Format section	  */
/*--------------------*/

.section-title h2{
    text-align: center;
    color:  #2D2D2E;
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 700;
}
.section-title h3{
    text-align: center;
    color:  #626266;
    font-size: 1.1em;
    font-weight: 700;
}
.section-title hr{
    width: 100%;
    max-width: 460px;
    border: solid 1px #FFB515;
}
.section-content .quote {
    color: #FFB515 !important;
    font-style: italic !important;
}
.section-content p {
    color: #656565;
}

/*--------------------*/
/*	    Identité	  */
/*--------------------*/

.identite {
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: #FEFEFE;
}
.identite .section-content {
    margin-top: 25px;
}
.identite .photo img {
    float: right;
}
.identite .details{
    padding-left: 35px;
}
.identite .details h3{
    font-size: 1.4em;
    color: #2D2D2E;
    font-weight: 700;
    margin-bottom: 5px;
}
.identite .details p {
    max-width: 540px;
}
.identite .details ul {
    margin: 25px 0px 25px 30px;
}
.identite .details ul li {
    font-size: 1.2em;
   margin-top: 5px;
}
.identite .quote{
    margin-top: 35px;
    max-width: 540px;
}

/*--------------------*/
/*	  Compétences	  */
/*--------------------*/

.competences {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F5F5F5;
    border-top: solid 1px #DADADA;
}
.competences .section-content {
    margin-top: 25px;
}
.competences .comp-container{
    display: inline-block;
    background-color: #FEFEFE;
    border: solid 2px #E0E0E0;
    border-radius: 5px;
    padding: 14px;
    max-width: 650px;
}
.competences .comp-container{
    display: inline-block;
    background-color: #FEFEFE;
    border: solid 2px #E0E0E0;
    border-radius: 15px;
    padding: 20px 15px 20px 5px;
    max-width: 700px;
}
.competences .comp-container .logiciels{
    display: inline-block;
    width: 15%;
    float:left;
}
.competences .comp-container .details{
    display: inline-block;
    width: 85%;
    float: left;
}
.competences .comp-container .logiciels img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.competences .comp-progressbar .progressbar{
    float: right;
}
.competences .comp-integration .quote{
    margin-top: 25px;
    max-width: 570px;
}
.competences .comp-integration .comp-container h4{
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: solid 2px #FFB515;
    width: 312px;
    color: #2D2D2E;
}
.competences .comp-developpement .quote{
    margin-top: 25px;
    max-width: 570px;
    color: #4BB4EA !important;
}
.competences .comp-developpement .comp-container h4{
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: solid 2px #4BB4EA;
    width: 484px;
    color: #2D2D2E;
}
.competences .comp-graphisme .quote{
    margin-top: 25px;
    max-width: 570px;
    color: #7CC177 !important;
}
.competences .comp-graphisme .comp-container h4{
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 700;
    padding-bottom: 4px;
    border-bottom: solid 2px #7CC177;
    width: 502px;
    color: #2D2D2E;
}


s
/*--------------------*/
/*		 FOOTER	      */
/*--------------------*/
footer {
    background-color: #282828;
    height: 150px;
}